{% extends "base.html" %}

{% block title %}
JSPlot Figure
{% endblock %}

{% block header_ext %}
<script src="{{ MEDIA_URL }}js/jquery.js"></script>
<script src="{{ MEDIA_URL }}js/jquery.flot.js"></script>
{% endblock %}

{% block content %}
<h1>Figure</h1>

{% if show_import_warning %}
    <p><code>from jsplot.plot import data</code> failed (or the
    <code>data</code> is empty), which means that we don't have any data to
    be plotted. Make sure you can import it and try again. Showing some demo
    data below:</p>
{% endif %}

<div style="float:left">
  <div id="placeholder" style="width:500px;height:300px"></div>
</div>

<div id="miniature" style="width:20%;float:left;margin-left:20px;margin-top:50px">
    <div id="overview" style="width:100%;height:100px"></div>
    <p id="overviewLegend" style="margin-left:10px"></p>
</div>

<p style="clear:left">
The small overview plot to the right has been connected to the large
plot. Try selecting a rectangle on either of them.
</p>

<script id="source">
$(function () {
    // setup plot
    function getData() {
        return {{ graphs|safe }};
    }

    var options = {
        legend: { show: false },
        series: {
            lines: { show: true },
            points: { show: false },
        },
        yaxis: { ticks: 10 },
        selection: { mode: "xy" }
    };

    var startData = getData();

    var plot = $.plot($("#placeholder"), startData, options);

    // setup overview
    var overview = $.plot($("#overview"), startData, {
        legend: { show: true, container: $("#overviewLegend") },
        series: {
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0
        },
        xaxis: { ticks: 4 },
        yaxis: { ticks: 3, min: -2, max: 2 },
        grid: { color: "#999" },
        selection: { mode: "xy" }
    });

    // now connect the two

    $("#placeholder").bind("plotselected", function (event, ranges) {
        // clamp the zooming to prevent eternal zoom
        if (ranges.xaxis.to - ranges.xaxis.from < 0.00001)
            ranges.xaxis.to = ranges.xaxis.from + 0.00001;
        if (ranges.yaxis.to - ranges.yaxis.from < 0.00001)
            ranges.yaxis.to = ranges.yaxis.from + 0.00001;

        // do the zooming
        plot = $.plot($("#placeholder"), startData,
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
                          yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
                      }));

        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });
    $("#overview").bind("plotselected", function (event, ranges) {
        plot.setSelection(ranges);
    });
});
</script>
{% endblock %}
